* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.text-thin {
    font-weight: 100;
}

.header {
    margin-top: 10px;
}

.img-circle {
    border-radius: 50%;
}

.name {
    font-size: 60px;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #efc2c2;
}

.other-info {
    margin-top: 5px;
    color: #efc2c2;
}

.line-separator {
    height: 4px;
    background: #ff9999;
    border-bottom: 1px solid #bcbbbb;
    margin-bottom: 30px;
    margin-top: 10px;
}

.projects {
    color: #c16969;
    margin-top: 40px;
}

.project-name {
    color: #ce6e6e;
    margin-bottom: 2px;
}

.project-link {
    color: #f78b8b;
    margin: 0px;
}
