* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.text-thin {
    font-weight: 100;
}

.header {
    margin-top: 10px;
}

.img-circle {
    border-radius: 50%;
}

.name {
    font-size: 60px;
    margin-top: 10px;
    margin-bottom: 1px;
    color: #666756;
}

.other-info {
    margin-top: 1px;
    color: #666756;
}

.line-separator {
    height: 4px;
    background: #bbbbbb;
    border-bottom: 1px solid #bcbbbb;
    margin-bottom: 30px;
    margin-top: 10px;
}

.projects-header {
    font-weight: 400;
    color: #bcbbbb;
    margin-top: 40px;
}

.project-name {
    color: #666756;
    margin-bottom: 2px;
}

.project-link {
    color: #666756;
    margin: 0px;
}

.project-img-container {
    height: 210px;
}

.project-img {
    display: block;
    width: 100%;
    max-height: 100%;
}
